<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | </title>
    <link rel="stylesheet" href="register.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Crear cuenta</div>
        <div class="content">
            <form [formGroup]="formularioPersona" (ngSubmit)="onSubmit" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <label for="nombre_usuario">Nombres:</label>
                        <input type="text" name="nombre" class="form-control" id="nombre"
                            [(ngModel)]="model.nombre_usuario" required #nombre_usuario="ngModel"
                            [ngClass]="{ 'invalid-field': nombre_usuario.invalid && nombre_usuario.touched }"
                            placeholder="Ingrese sus nombres" />
                        <div *ngIf="nombre_usuario.invalid && nombre_usuario.touched" class="error">**Nombre es
                            requerido**</div>
                    </div>

                    <div class="input-box">
                        <label for="apellido_usuario">Apellidos:</label>
                        <input type="text" name="apellidos" class="form-control" id="apellido_usuario"
                            [(ngModel)]="model.apellido_usuario" required #apellido_usuario="ngModel"
                            [ngClass]="{ 'invalid-field': apellido_usuario.invalid && apellido_usuario.touched }"
                            placeholder="Ingrese sus apellidos" />
                        <div *ngIf="apellido_usuario.invalid && apellido_usuario.touched" class="error">**Apellido es
                            requerido**</div>
                    </div>

                    <div class="input-box">
                        <label for="tipo_documento">Tipo de Documento:</label>
                        <select name="tipo_documento" class="form-control" id="tipo_documento"
                            [(ngModel)]="model.tipo_documento" required #tipo_documento="ngModel"
                            [ngClass]="{ 'invalid-field': tipo_documento.invalid && tipo_documento.touched }">
                            <option value="CC">Cédula de Ciudadanía</option>
                            <option value="TI">Tarjeta de Identidad</option>
                            <option value="CE">Cédula de Extranjería</option>
                        </select>
                        <div *ngIf="tipo_documento.invalid && tipo_documento.touched" class="error">**Tipo de documento
                            es
                            requerido**
                        </div>
                    </div>

                    <div class="input-box">
                        <label for="correo_usuario">Email:</label>
                        <input type="text" name="correo_usuario" class="form-control" id="correo_usuario"
                            [(ngModel)]="model.correo_usuario" required #correo_usuario="ngModel"
                            [ngClass]="{ 'invalid-field': correo_usuario.invalid && correo_usuario.touched }"
                            placeholder="Ingrese su email" />
                        <div *ngIf="apellido_usuario.invalid && apellido_usuario.touched" class="error">**Email es
                            requerido**</div>
                    </div>

                    <div class="input-box">
                        <label for="documento_usuario">Documento de identidad:</label>
                        <input type="number" name="documento_usuario" class="form-control" id="documento_usuario"
                            [(ngModel)]="model.documento_usuario" required #documento_usuario="ngModel"
                            [ngClass]="{ 'invalid-field': documento_usuario.invalid && documento_usuario.touched }"
                            placeholder="Ingrese su documento" pattern="[0-9]*" min="0"/>
                        <div *ngIf="documento_usuario.invalid && documento_usuario.touched" class="error">**Documento es
                            requerido y debe ser numérico**</div>
                    </div>

                    <div class="input-box">
                        <label for="contrasena_usuario">Contraseña:</label>
                        <input #contrasena type="password" name="contrasena_usuario" class="form-control" id="contrasena_usuario"
                            [(ngModel)]="model.credenciales.contrasena_usuario" required #contrasena_usuario="ngModel"
                            [ngClass]="{ 'invalid-field': contrasena_usuario.invalid && contrasena_usuario.touched }"
                            placeholder="Ingrese su contraseña" />
                        <div *ngIf="contrasena_usuario.invalid && contrasena_usuario.touched" class="error">**Contraseña
                            es
                            requerida**</div>
                    </div>

                </div>

                <button type="submit" class="big-button" (click)="addPersona()">Registrar</button>

            </form>
        </div>
    </div>
</body>

</html>