<div class="wrapper fadeInDown">
  <!-- este es el enlace al tipo de letra -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">


  <div class ="formContent">
    <h2 class="h2">Recuperar Contraseña</h2>
    <p class="p">Ingresa tu dirección de correo electrónico para recuperar tu contraseña.</p>
    <form>
      <input type="email" placeholder="Correo Electrónico " class="input">
      <button type="submit " class="button-init button-c button-b">Enviar Correo</button>
    </form>

  </div>

</div>
