/* Estilo para el título "Recuperar Contraseña" */
.h2 {
  font-size: 24px; /* Tamaño del título */
  color: #333; /* Color del texto del título */
}

/* Estilo para el párrafo de descripción */
.p {
  font-size: 16px; /* Tamaño del texto del párrafo */
  color: #666; /* Color del texto del párrafo */
}

/* Estilo para el campo de entrada de correo electrónico */
.input[type="email"] {
  width: 50%; /* Ancho del campo de entrada */
  padding: 10px; /* Relleno interno */
  border: 1px solid #ccc; /* Borde del campo */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilo para el botón "Enviar Correo" */
.button-init {
  background-color: #56baed;
  color: black;
  border: #0d0d0d;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


.button-b[type="submit"]:hover {
  background-color: #39ace7;
}


.button-c[type="submit"]:active {
  transform: scale(0.95);
}
.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

